/* Main Content Big Box */

.mainContentBigBox{
    width: 100%;
    height: auto;
    display: flex;
    border-top: 1px solid #1085FF;
}

.mainSidebarBox{
    width: 15%;
    height: 91.9vh;
    background-color: #1085FF;
    display: flex;
    flex-direction: column;
    padding: 5px;
    position: sticky;
    top: 70px;
}

.mainSidebarBox a{
    color: #deeeff;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}

.mainSidebarBox .activeSelection{
    background-color: #deeeff;
    color: #1085FF;
    border-radius: 10px;
}

.mainContentBox{
    width: 85%;
    height: auto;
    padding: 10px 20px;
}

.mainContentBox h2{
    font-size: 40px;
    font-weight: 700;
}

.mainContentBox form{
    width: 100%;
}

.mainContentBox form input[type=text]{
    width: 100%;
    display: block;
    padding: 5px 10px;
    border-radius: 25px;
}

.mainContentBox form input[type=file]{
    width: 100%;
    display: block;
    padding: 5px 10px;
    border-radius: 25px;
}

.checkBoxBigBox{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.checkBoxDiv{
    width: 23%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkBoxDiv input[type=checkbox]{
    display: flex;
}

.amenitiesText{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 10px auto 0px auto;
}

.amenitiesNamesText{
    font-size: 21px;
    font-weight: 600;
    margin: 10px 0px;
}

.dBlock{
    display: block;
}

.dBlock input[type=text]{
    width: 80% !important;
    border-radius: 10px !important;
}

.dBlock select{
    width: 80%;
    border-radius: 10px;
    padding: 5px 10px;
}

/* Responsive Code */

@media (max-width: 1395px) {

    /* Main Content Big Box */
    .mainSidebarBox {
        width: 17%;
    }

    .mainContentBox {
        width: 83%;
    }
}

@media (max-width: 1285px) {

    /* Main Content Big Box */
    .mainSidebarBox {
        width: 19%;
        top: 60px;
    }

    .mainContentBox {
        width: 81%;
    }
}

@media (max-width: 1100px){
    /* Main Content Big Box */
    .mainSidebarBox {
        width: 25%;
    }

    .mainContentBox {
        width: 75%;
    }
}

@media (max-width: 769px) {

    /* Main Content Big Box */

    .mainSidebarBox {
        display: none;
    }

    .mainContentBox {
        width: 100%;
        padding: 5px 10px;
    }

    .mainContentBox h2{
        font-size: 30px;
        text-align: center;
    }
    
    .amenitiesText{
        margin-top: 5px;
        font-size: 25px;
    }

    .amenitiesNamesText {
        margin: 5px 0px;
    }
    .checkBoxBigBox{
        gap: 10px;
    }
    .checkBoxDiv{
        width: 48%;
    }
    .checkBoxDiv label{
        font-size: 14px;
    }
    .dBlock input[type=text]{
        width: 100% !important;
    }

}