/* Top Introduction Box */

.topIntroductionBox {
    width: 95%;
    height: auto;
    background: rgb(194, 99, 229);
    background: linear-gradient(90deg, rgba(194, 99, 229, 1) 0%, rgba(226, 233, 255, 1) 100%);
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.topIntroInnerBox1 {
    width: 40%;
    height: auto;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.topIntroInnerBox1 h2 {
    color: white;
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
}

.topIntroInnerBox1 p {
    color: white;
    font-size: 16px;
    margin-top: 5px;
}

.topIntroInnerBox2 {
    width: 60%;
    height: auto;
    display: flex;
    align-items: flex-end;
    border-radius: 0px 0px 20px 0px;
}

.topIntroInnerBox2 img {
    width: 100%;
    height: auto;
}

.searchBiggerBox {
    width: 90%;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: -50px;
    left: 5%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.searchBiggerBox .formBox {
    width: 19%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formBox label {
    font-weight: 700;
}

.formBox input {
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
}

.formBox select {
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
}

.searchBiggerBox .flexEnd {
    justify-content: flex-end;
}

.searchBiggerBox .formBox button {
    width: 100%;
    background-color: #1085FF;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px;
    font-size: 18px;
}

/* Select Box */

.selectBox {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    color: #60666d;
    border-bottom: 1px solid black;
  }
  .selectBox__current {
    position: relative;
    cursor: pointer;
    outline: none;
  }
  .selectBox__current:focus + .selectBox__list {
    opacity: 1;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .selectBox__current:focus + .selectBox__list .selectBox__option {
    cursor: pointer;
  }
  .selectBox__current:focus .selectBox__icon {
    transform: translateY(-50%) rotate(180deg);
  }
  .selectBox__list label{
    font-weight: 500 !important;
    font-size: 16px;
  }
  .selectBox__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }
  .selectBox__value {
    display: flex;
  }
  .selectBox__input {
    display: none;
  }
  .selectBox__input:checked + .selectBox__inputText {
    display: block;
  }
  .selectBox__inputText {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0px 10px 1px 0px;
    background-color: #fff;
  }
  .selectBox__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    z-index: 100000;
    -webkit-animation-name: HideList;
            animation-name: HideList;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  }
  .selectBox__option {
    display: block;
    padding: 5px;
    background-color: #fff;
  }
  .selectBox__option:hover, .selectBox__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
  }
  
  @-webkit-keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
  
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }

/* Latest Properties Section */

.latestPropertiesSection {
    padding: 70px 80px 20px 80px;
}

.latestPropertiesSection p {
    font-size: 16px;
    font-weight: 500;
}

.latestPropertiesSection h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
}

.latestPropertiesBigBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    flex-wrap: wrap;
    gap: 35px;
}

.latestPropertiesInnerBox {
    width: 48%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.latestPropertiesInnerBox img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}

.latestPropertiesContentBox {
    padding: 10px 15px;
}

.latestPropertiesContentBox .miniText {
    font-size: 14px;
    font-weight: 500;
}

.latestPropertiesContentBox h3 {
    font-size: 18px;
    font-weight: 600;
}

.latestPropertiesContentBox .priceText {
    font-size: 18px;
    font-weight: 600;
    color: #1085FF;
}

.latestPropertiesContentBox .propertyDescription {
    font-size: 14px;
    font-weight: 500;
    color: #5c727d;
}

.innerPropertyContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 5px;
}

.innerPropertyContent p {
    font-size: 14px;
    font-weight: 500;
    color: #5c727d;
}

.innerButtonBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 5px 0px;
}

.innerButtonBox button {
    padding: 5px 35px;
    cursor: pointer;
    border: 1px solid #deeeff;
    color: #1085FF;
    background-color: #deeeff;
    border-radius: 5px;
    font-size: 15px;
}

.innerButtonBox button .fa-whatsapp {
    font-size: 17px;
    font-weight: 800;
}

/* Responsive Code */

@media (max-width: 1190px){
    /* Top Introduction Box */
    .searchBiggerBox{
        width: 98%;
        left: 1%;
    }
}

@media (max-width: 1090px){
    /* Latest Properties Section */
    .latestPropertiesBigBox{
        gap: 25px;
    }
    .latestPropertiesSection{
        padding: 70px 20px 20px 20px;
    }
    .latestPropertiesInnerBox img{
        height: 240px;
    }
}

@media (max-width: 995px){
    .innerButtonBox{
        flex-wrap: wrap;
        gap: 5px;
    }
    .innerButtonBox button{
        width: 100%;
    }
}

@media (max-width: 769px) {

    /* Top Introduction Box */
    .topIntroductionBox{
        width: 98%;
        flex-direction: column;
        border-radius: 10px;
    }
    .topIntroInnerBox1{
        width: 100%;
        padding: 15px;
        align-items: center;
    }
    .topIntroInnerBox1 h2{
        font-size: 45px;
        text-align: center;
    }
    .topIntroInnerBox1 p{
        font-size: 18px;
        text-align: center;
    }
    .topIntroInnerBox2{
        width: 100%;
        border-radius: 0px 0px 20px 20px;
    }
    .topIntroInnerBox2 img{
        border-radius: 0px 0px 20px 20px;
    }
    .searchBiggerBox{
        width: 98%;
        left: 1%;
        flex-wrap: wrap;
        gap: 20px;
        height: auto;
        bottom: -250px;
    }
    .searchBiggerBox .formBox{
        width: 100%;
    }

    /* Latest Properties Section */

    .latestPropertiesSection{
        padding: 250px 10px 20px 10px;
    }
    .latestPropertiesBigBox{
        gap: 20px;
    }
    .latestPropertiesInnerBox{
        width: 100%;
    }
    .latestPropertiesInnerBox img{
        height: 250px;
        border-radius: 5px 5px 0px 0px;
    }
    .innerButtonBox{
        flex-wrap: wrap;
        gap: 10px;
    }
    .innerButtonBox button{
        width: 100%;
    }
}

@media (max-width: 500px){

    /* Latest Properties Section */
    .latestPropertiesInnerBox img{
        height: 160px;
        border-radius: 5px 5px 0px 0px;
    }
}