.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav ul a{
    text-decoration: none;
    color: black;
}

.nav ul li {
    cursor: pointer;
    list-style: none;
    font-size: 18px;
}

.nav .logoImg {
    width: 170px;
    height: auto;
}

.nav .navbarBox {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.nav .navbarBox button {
    padding: 4px 20px;
    font-size: 15px;
    background-color: #452820;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
}

.nav .navbarBox i {
    font-size: 22px;
    color: #452820;
}

.nav .navbarBox p {
    display: flex;
    align-items: center;
    gap: 4px;
}

.navbarBox a{
    text-decoration: none;
    color: black;
}

.nav .navbarBox .userIcon {
    font-size: 28px !important;
}

/* Responsive Code */

@media (max-width: 1285px){
    /* Navbar */
    .nav{
        padding: 5px 10px;
    }
}

@media (max-width: 1190px){
    /* Navbar */
    .nav ul{
        gap: 30px;
    }
}

@media (max-width: 1090px){
    /* Navbar */
    .nav ul{
        display: none;
    }
}

@media (max-width: 769px){
    /* Navbar */
    .nav{
        padding: 5px 10px;
    }
    .nav ul{
        display: none;
    }
    .nav .logoImg{
        width: 120px;
    }
    .nav .navbarBox p{
        font-size: 16px;
    }
    .nav .navbarBox i{
        font-size: 18px;
    }
    .nav .navbarBox .user-icon{
        font-size: 25px !important;
    }
    .nav .navbarBox{
        gap: 15px;
    }
}

@media (max-width: 500px){
    /* Navbar */
    .nav .navbarBox button{
        display: none;
    }
}