/* Top Introduction Box */
.topIntroductionBox,
.mainSection,
.downloadAndroidAppSection{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.topIntroductionBox.animate,
.mainSection.animate,
.downloadAndroidAppSection.animate {
  opacity: 1;
  transform: translateY(0);
}

.topIntroductionBox {
    width: 95%;
    height: auto;
    background: rgb(91, 170, 228);
    background: linear-gradient(270deg, rgba(91, 170, 228, 1) 0%, rgba(24, 47, 69, 1) 100%);
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.topIntroInnerBox1 {
    width: 50%;
    height: 500px;
    padding: 25px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.topIntroInnerBox1 h2 {
    color: white;
    font-size: 45px;
    font-weight: 500;
    line-height: 1;
}

.topIntroInnerBox1 p {
    color: white;
    font-size: 14px;
    margin-top: 5px;
}

.topIntroInnerBox2 {
    width: 50%;
    height: 500px;
    display: flex;
    align-items: flex-end;
    border-radius: 0px 0px 20px 0px;
}

.topIntroInnerBox2 img {
    width: 100%;
    height: auto;
}

.searchBiggerBox {
    width: 90%;
    height: 100px;
    background-color: white;
    position: absolute;
    bottom: -50px;
    left: 5%;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.searchBiggerBox .formBox {
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formBox label {
    font-weight: 700;
}

.formBox input {
    height: 26px;
    border: none;
    border-bottom: 1px solid black;
}

.formBox select {
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
}

.searchBiggerBox .flexEnd {
    justify-content: flex-end;
}

.searchBiggerBox .formBox button {
    width: 100%;
    background-color: #1085FF;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 5px;
    font-size: 18px;
}

/* Select Box */

.selectBox {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    color: #60666d;
    border-bottom: 1px solid black;
  }
  .selectBox__current {
    position: relative;
    cursor: pointer;
    outline: none;
  }
  .selectBox__current:focus + .selectBox__list {
    opacity: 1;
    -webkit-animation-name: none;
            animation-name: none;
  }
  .selectBox__current:focus + .selectBox__list .selectBox__option {
    cursor: pointer;
  }
  .selectBox__current:focus .selectBox__icon {
    transform: translateY(-50%) rotate(180deg);
  }
  .selectBox__list label{
    font-weight: 500 !important;
    font-size: 16px;
  }
  .selectBox__icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 20px;
    opacity: 0.3;
    transition: 0.2s ease;
  }
  .selectBox__value {
    display: flex;
  }
  .selectBox__input {
    display: none;
  }
  .selectBox__input:checked + .selectBox__inputText {
    display: block;
  }
  .selectBox__inputText {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0px 10px 1px 0px;
    background-color: #fff;
  }
  .selectBox__list {
    position: absolute;
    width: 100%;
    padding: 0;
    list-style: none;
    opacity: 0;
    z-index: 100000;
    -webkit-animation-name: HideList;
            animation-name: HideList;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.1);
  }
  .selectBox__option {
    display: block;
    padding: 5px;
    background-color: #fff;
  }
  .selectBox__option:hover, .selectBox__option:focus {
    color: #546c84;
    background-color: #fbfbfb;
  }
  
  @-webkit-keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
  
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }

/* Main Section */

.mainSection{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 70px 40px 20px 40px;
}

.mainSectionBox1{
    width: 70%;
    padding: 20px 20px 0px 20px;
}

.mainSectionBox1 h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.1;
}

.mainSectionBox1 p{
    font-size: 16px;
    font-weight: 500;
}

.mainSectionBox2{
    width: 30%;
    padding: 20px 20px 0px 20px;
    position: sticky;
    top: -20px;
}

.mainSectionBox2 h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 1.1;
}

.mainSectionBox2 p{
    font-size: 16px;
    font-weight: 500;
}

.mainSectionBox2 img{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Latest Properties Section */

.latest-properties-section {
    padding: 20px 80px;
}

.latest-properties-section p {
    font-size: 20px;
    font-weight: 600;
}

.latest-properties-section h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1;
}

.latestPropertiesBigBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    flex-wrap: wrap;
    gap: 25px;
}

.latestPropertiesInnerBox {
    width: 48%;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.latestPropertiesInnerBox img {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}

.latestPropertiesContentBox {
    padding: 10px 15px;
}

.latestPropertiesContentBox .miniText {
    font-size: 14px;
    font-weight: 500;
    margin: 5px 0px;
}

.latestPropertiesContentBox h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 5px 0px;
}

.latestPropertiesContentBox .priceText {
    font-size: 18px;
    color: #1085FF;
    font-weight: 600;
    margin: 5px 0px;
}

.latestPropertiesContentBox .propertyDescription {
    font-size: 14px;
    font-weight: 500;
    color: #5c727d;
}

.innerPropertyContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 5px;
}

.innerPropertyContent p {
    font-size: 14px;
    font-weight: 500;
    color: #5c727d;
}

.innerButtonBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 5px 0px;
    flex-wrap: wrap;
    gap: 5px;
}

.innerButtonBox button {
    width: 32%;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #deeeff;
    color: #1085FF;
    background-color: #deeeff;
    border-radius: 5px;
    font-size: 14px;
}

.innerButtonBox button .fa-whatsapp {
    font-size: 17px;
    font-weight: 800;
}

/* Download Android App Section */

.downloadAndroidAppSection {
    width: 98%;
    height: auto;
    margin: 10px auto;
    background: rgb(16, 133, 255);
    background: linear-gradient(270deg, rgba(16, 133, 255, 1) 0%, rgba(222, 238, 255, 1) 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.downloadAndroidBox1{
    width: 60%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.downloadAndroidBox1 h3{
    font-size: 37px;
    font-weight: 600;
}

.downloadAndroidBox1 p{
    font-size: 16px;
    font-weight: 500;
}

.downloadAndroidBox1 ul{
    margin: 50px 0px;
}

.downloadAndroidBox1 ul li{
    font-size: 18px;
}

.downloadAndroidBox1 img{
    width: 200px;
    height: auto;
    cursor: pointer;
}

.downloadAndroidBox2{
    width: 40%;
}

.downloadAndroidBox2 img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Responsive Code */

@media (max-width: 1190px){
    /* Top Introduction Box */
    .searchBiggerBox{
        width: 98%;
        left: 1%;
        bottom: -80px;
    }
}

@media (max-width: 1090px){
    /* Latest Properties Section */
    .latestPropertiesBigBox{
        gap: 25px;
    }
    .latest-properties-section{
        padding: 70px 20px 20px 20px;
    }
    .latestPropertiesInnerBox img{
        height: 240px;
    }
}

@media (max-width: 1030px){
    .latestPropertiesInnerBox{
        width: 100%;
    }
    .latestPropertiesInnerBox img{
        height: 280px;
    }
}

@media (max-width: 769px) {
    /* Top Introduction Box */
    .topIntroductionBox{
        width: 98%;
        flex-direction: column;
        border-radius: 10px;
    }
    .topIntroInnerBox1{
        width: 100%;
        height: auto;
        padding: 5px 15px;
        align-items: center;
    }
    .topIntroInnerBox1 h2{
        font-size: 35px;
        text-align: center;
    }
    .topIntroInnerBox1 p{
        font-size: 16px;
        text-align: center;
    }
    .topIntroInnerBox2{
        width: 100%;
        height: auto;
        border-radius: 0px 0px 20px 20px;
    }
    .topIntroInnerBox2 img{
        border-radius: 0px 0px 20px 20px;
    }

    .searchBiggerBox {
        width: 95%;
        left: 2.5%;
        flex-wrap: wrap;
        height: auto;
        gap: 20px;
        bottom: -350px;
    }

    .searchBiggerBox .formBox {
        width: 100%;
    }

    /* Latest Properties Section */

    .latest-properties-section{
        padding: 250px 10px 20px 10px;
    }
    .latestPropertiesBigBox{
        gap: 20px;
        padding: 10px 0px;
    }
    .latestPropertiesInnerBox{
        width: 100%;
    }
    .latestPropertiesInnerBox img{
        height: 250px;
        border-radius: 5px 5px 0px 0px;
    }
    .innerButtonBox{
        flex-wrap: wrap;
        gap: 10px;
    }
    .innerButtonBox button{
        width: 100%;
    }
    .latestPropertiesContentBox h3{
        font-size: 18px !important;
    }

    /* Main Section */

    .mainSection{
        padding: 350px 10px 20px 10px;
    }
    .mainSectionBox1{
        width: 100%;
        padding: 10px 0px 0px 0px;
    }
    .mainSectionBox2{
        width: 100%;
        padding: 0px;
    }
    .mainSectionBox1 h3{
        font-size: 30px;
    }
    .mainSectionBox1 p{
        font-size: 12px;
    }
    .mainSectionBox2 img{
        margin-top: 10px;
    }
    /* Download Android App Section */
    .downloadAndroidAppSection{
        flex-wrap: wrap;
    }
    .downloadAndroidBox1{
        width: 100%;
        padding: 10px 25px;
    }
    .downloadAndroidBox1 h3{
        font-size: 30px;
    }
    .downloadAndroidBox1 p{
        font-size: 14px;
        margin: 5px 0px;
    }
    .downloadAndroidBox2 {
        width: 100%;
    }
    .downloadAndroidBox1 ul{
        margin: 5px 0px;
        margin-bottom: 10px;
    }
    .downloadAndroidBox1 ul li{
        font-size: 16px;
    }
    .downloadAndroidBox1 img{
        width: 160px;
        margin: 10px auto;
    }
}

@media (max-width: 500px){
     /* Latest Properties Section */
     .latestPropertiesInnerBox img{
        height: 160px;
        border-radius: 5px 5px 0px 0px;
    }
}