/* Login Big Box Section */

.registerBigBox {
    width: 95%;
    height: auto;
    margin: 10px auto;
    background-color: #deeeff;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.registerContentBox1 {
    width: 50%;
    height: auto;
    border-radius: 10px;
    background: rgb(229, 133, 6);
    background: linear-gradient(0deg, rgba(229, 133, 6, 1) 0%, rgba(229, 229, 227, 1) 100%);
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
}

.registerContentBox1 img {
    width: 100%;
    height: auto;
}

.registerContentBox1 h2 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
}

.registerContentBox1 p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.registerContentBox2 {
    width: 50%;
    padding: 20px 50px;
}

.registerContentBox2 h2 {
    font-size: 60px;
    font-weight: 700;
    color: #1085FF;
}

.registerContentBox2 p {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    color: #1085FF;
}

.registerContentBox2 p a {
    text-decoration: none;
    color: #2F2217;
}

.registerContentBox2 form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registerContentBox2 form label {
    font-size: 18px;
    color: black;
}

.registerContentBox2 form input {
    padding: 10px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 16px;
}

.registerContentBox2 form input[type=submit] {
    padding: 10px 25px;
    font-size: 18px;
    background-color: #1085FF;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

.sendOtpBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sendOtpBox button{
    padding: 10px 25px;
    font-size: 18px;
    background-color: #1085FF;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    position: absolute;
    bottom: -2px;
    right: 0px;
}

.sendOtpBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.redText{
    color: red !important;
    margin-top: 0px !important;
}

.greenText{
    color: green !important;
    margin-top: 0px !important;
}

.icon3{
    height: 20px;
    width: 25px;
    margin-bottom: 0px;
    position: absolute;
    right: 10px;
    bottom: 13px;
    cursor: pointer;
}

/* Responsive Code */

@media (max-width: 1020px){
    /* Login Big Box Section */
    .registerContentBox2 h2{
        font-size: 40px;
    }
    .registerContentBox2 form{
        margin-top: 10px;
        gap: 5px;
    }
    .registerContentBox2 form label{
        font-size: 16px;
    }
    .registerContentBox2 p{
        font-size: 18px;
    }
    .registerContentBox1 h2{
        font-size: 45px;
    }
}

@media (max-width: 769px) {
    /* Login Big Box Section */

    .registerBigBox{
        width: 98%;
        flex-wrap: wrap;
    }
    .registerContentBox1{
        width: 100%;
        padding: 20px;
        order: 1;
    }
    .registerContentBox1 h2{
        font-size: 35px;
    }
    .registerContentBox1 p{
        font-size: 18px;
    }
    .registerContentBox1 img{
        width: 100%;
    }
    .registerContentBox2{
        width: 100%;
        padding: 10px 20px 20px 20px;
    }
    .registerContentBox2 h2{
        font-size: 35px;
    }
    .registerContentBox2 form{
        gap: 5px;
        margin-top: 10px;
    }
    .registerContentBox2 form label{
        font-size: 16px;
    }
    .registerContentBox2 p{
        font-size: 16px;
    }
}